body {
  margin: 0;
}

.react-flow__panel.top.center {
  margin: 0 !important;
  left: 0;
  right: 0;
  padding-bottom: 72px;
  transform: none;
}

div.react-tweet-theme {
  --tweet-container-margin: 0px;
}

a[class^="tweet-info_infoLink"] {
  opacity: 0;
  pointer-events: none;
}

div[class^="tweet-header_authorFollow"],
a[class^="tweet-header_brand"] {
  display: none;
}

/* Credit to https://codepen.io/jh3y/pen/jORQyzZ */
.blur {
  --layers: 4;
  position: absolute;
  inset: 0;
  bottom: -64px;
  pointer-events: none;
}

.blur .blur-layer {
  --blur: calc(
    sin(((var(--layers) - var(--index)) / var(--layers)) * 45deg) * 30
  );
  --stop: calc(sin(((var(--index)) / var(--layers)) * 45deg) * 35);
  --end-color: hsl(0 0% 60% / 0.05);
  position: absolute;
  inset: 0;
  background: var(--end-color);
  backdrop-filter: blur(calc(var(--blur) * 1px));
  mask: radial-gradient(
    140% 130% at 45% 90%,
    #0000 calc((15 + var(--stop)) * 1%) 15%,
    #fff 100%
  );
}

.dark .blur .blur-layer {
  --end-color: hsl(0 0% 0% / 0.08);
}
